<div class='index'>
 <div class='col-mid-12'>
  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th>出発時刻</th>
        <th>到着時刻</th>
        <th>行先</th>
        <th>移動方法</th>
        <th>出発地</th>
        <th>到着（帰着）地</th>
        <th>同行者・同席者</th>
        <th>ありの場合は間柄等を記入</th>
        <th>特記事項</th>
      </tr>
    </thead>

    <%# 変数初期化 %>
    <% count = 1 %>

    
    <%= form_with(model: @actlogs, local: true, url: @path) do |f| %>
      <% @actlogs.collection.each do |actlog| %>
        <%= fields_for 'actlogs[]', actlog do |field| %>
          <div class="field">
            <tbody>
              <tr>
                <td><%= field.time_field :start_time, class: 'form-control' %></td>
                <td><%= field.time_field :end_time, class: 'form-control' %></td>
                <td><%= field.text_field :destination, :size=>"8" %></td>
                <td><%= field.text_field :transportation, :size=>"8" %></td>
                <td><%= field.text_field :departure, :size=>"8" %></td>
                <td><%= field.text_field :arrival, :size=>"8" %></td>
                <td>
                  <%= field.radio_button :attendees, "あり", {} %> あり
                  <%= field.radio_button :attendees, "なし", {} %> なし
                </td>
                <td><%= field.text_field :attendees_details, :size=>"8" %></td>
                <td><%= field.text_field :other, :size=>"8" %></td>
                <%= field.hidden_field :user_id, :value => current_user.id %>
                <%= field.hidden_field :health_id, :value => @users_health_id %>
                <%= field.hidden_field :renge, :value => count %>
                <%= field.hidden_field :date, :value => @date %>
              </tr>
          </tbody>
          </div>
        <% end %>
        <% count += 1 %>
      <% end %>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </table>
 </div>
</div>