<p id="notice"><%= notice %></p>

<div class="d-flex align-items-center">
  <h1><%= @date.year %> 年 <%= @date.month %>月 <%= @date.day %>日 行動履歴登録一覧</h1>
  <div class="ml-auto">
    <%= link_to '登録', new_users_actlog_path, class: 'btn btn-outline-dark' %>
    <%= link_to '戻る', :back, class: 'btn btn-outline-dark' %>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'btn btn-outline-dark' %>
  </div>
</div>

<% if flash[:notice] %>
  <div class="alert alert-primary"><%= flash[:notice] %></div>
<% end %>
<div>
  <p>氏名：<%= current_user.email %></p>
</div>

<div class='index'>
 <div class='col-mid-12'>
  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th>No</th>
        <th>開始</th>
        <th>終了</th>
        <th>行先</th>
        <th>移動方法</th>
        <th>出発地</th>
        <th>到着地</th>
        <th>同行者</th>
        <th>詳細</th>
        <th>特記事項</th>
        <th>更新</th>
      </tr>
    </thead>

    <tbody>
      <% @actlogs.each do |actlog| %>
        <tr>
          <td><%= actlog.renge %></td>
          <% if actlog.start_time.strftime('%H:%M') == '00:00' %>
            <td></td>
          <% else %>
            <td><%= actlog.start_time.strftime('%H:%M') %></td>
          <% end %>
          <% if actlog.end_time.strftime('%H:%M') == '00:00' %>
            <td></td>
          <% else %>
            <td><%= actlog.end_time.strftime('%H:%M') %></td>
          <% end %>
          <td><%= actlog.destination %></td>
          <td><%= actlog.transportation %></td>
          <td><%= actlog.departure %></td>
          <td><%= actlog.arrival %></td>
          <td><%= actlog.attendees %></td>
          <td><%= actlog.attendees_details %></td>
          <td><%= actlog.other %></td>
          <td><%= link_to '編集', edit_users_actlog_path(actlog) %></td>
          <%# link_to 'Show', users_actlog %>
          <%# link_to 'Edit', edit_users_actlog_path(users_actlog) %>
          <%# link_to 'Destroy', users_actlog, method: :delete, data: { confirm: 'Are you sure?' } %>    
        </tr>
      <% end %>
    </tbody>
  </div>
</div>


















