<div class="d-flex align-items-center">
  <h1><%= @date.year %> 年 <%= @date.month %>月 <%= @date.day %>日 行動履歴登録</h1>
  <div class="ml-auto">
    <%= link_to '一覧へ戻る', users_healths_path, class: 'btn btn-outline-dark' %>
  </div>
</div>

<p>氏名：<%= current_user.email %></p>

<%= render partial: 'form', locals: {sers_actlog: @users_actlog} %>