<div class="d-flex align-items-center">
  <h1><%= @users_actlogs[0].date.year %>年 <%= @users_actlogs[0].date.month %>月 <%= @users_actlogs[0].date.day %>日 管理者用 行動履歴</h1>
  <div class="ml-auto">
    <%= link_to '戻る', :back, class: 'btn btn-outline-dark' %>
    <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'btn btn-outline-dark' %>
  </div>
</div>

<p>氏名：<%= @user %></p>

<div class='index'>
 <div class='col-mid-12'>
  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th>No</th>
        <th>開始</th>
        <th>終了</th>
        <th>行先</th>
        <th>移動方法</th>
        <th>出発地</th>
        <th>到着地</th>
        <th>同行者</th>
        <th>詳細</th>
        <th>特記事項</th>
      </tr>
    </thead>

    <tbody>
      <% @users_actlogs.each do |users_actlog| %>
        <tr>
          <td><%= users_actlog.renge %></td>
          <% if users_actlog.start_time.strftime('%H:%M') == '00:00' %>
            <td></td>
          <% else %>
            <td><%= users_actlog.start_time.strftime('%H:%M') %></td>
          <% end %>
          <% if users_actlog.end_time.strftime('%H:%M') == '00:00' %>
            <td></td>
          <% else %>
            <td><%= users_actlog.end_time.strftime('%H:%M') %></td>
          <% end %>
          <td><%= users_actlog.destination %></td>
          <td><%= users_actlog.transportation %></td>
          <td><%= users_actlog.departure %></td>
          <td><%= users_actlog.arrival %></td>
          <td><%= users_actlog.attendees %></td>
          <td><%= users_actlog.attendees_details %></td>
          <td><%= users_actlog.other %></td>
        </tr>
      <% end %>
    </tbody>
  </div>
</div>