<p id="notice"><%= notice %></p>

<h1>Users Healths</h1>

<div class="ml-auto">
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'btn btn-outline-dark' %>
</div>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users_healths.each do |users_health| %>
      <tr>
        <td><%= link_to 'Show', users_health %></td>
        <td><%= link_to 'Edit', edit_users_health_path(users_health) %></td>
        <td><%= link_to 'Destroy', users_health, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Users Health', new_users_health_path %>

<%= current_user.email %>